html,
body {
  font-family: var(--font-archivo);
  overflow-x: hidden;
  color: var(--color-body);
  background: var(--background-body);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.body-div {
  min-height: 100vh;
}

.app-content {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 2rem;
}
