.user-list {
  &__header {
    padding: 1rem;
    background: var(--neutral-100);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    .remove-guest {
      margin-left: auto;
    }
  }

  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .user-card {
      padding: 1rem;
      background: var(--neutral-50);
      border-radius: .5rem;

      input {
        font-size: 1.2rem;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 2px solid transparent;
        background: transparent;
        transition: .3s;

        &:focus-visible {
          outline: none;
          border-bottom: 2px solid var(--neutral-400);
        }
      }

      .name {
        font-weight: 600;
      }

      .price {
        display: flex;
        gap: .5rem;
        align-items: center;

        input {
          padding-bottom: .3rem;
        }
      }

      .diff {
        margin-top: 1rem;
        font-weight: 600;

        .recibe,
        .recibe + span {
          color: #4CAF50;
        }

        .pay,
        .pay + span {
          color: #F44336; 
        }
      }
    }
  }
}