.user-list {
  &__header {
    padding: 1rem;
    background: var(--neutral-100);
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .remove-guest {
      margin-left: auto;
    }
  }

  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .user-card {
      padding: 1rem;
      background: var(--neutral-50);
      border-radius: .5rem;
    }
  }
}